# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage/
/test/.coverage/
.jest-test-results.json

# build
/dist

# IDEA
/.idea/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

.vscode
